
h1{
    background-color: aqua;
   
}
h2{

    background-color: rgb(213, 149, 149);
    
}
p{
    background-color: blue;
 
}
#fazer{
    background-color: rgb(217, 224, 18);
 
}
.star{
    background-color: rgb(22, 193, 42);
    font-size: 25px;
  
}